*{
	padding: 0;
	margin: 0;
}

header{
	display: grid;
	justify-content: center;
	grid-template-columns: 15% 70% 15%;
}

/*------------------------*/
.sections {
	display:grid;
	grid-template-columns: auto auto;
	
	align-items: center;
	grid-template-areas: 
	'sc sc'
	;
}


.section{
	grid-area:sc;
	margin: 50px;
	border: 5px solid rgb(6, 6, 6);
	display:grid;
	justify-content: center;
	float:left;
	grid-template-columns:auto;
	grid-template-rows: auto 20%;
	grid-template-areas:
	'txt'
	'btn'
	;

	
}

/*-----------------------*/

.text_area{
	grid-area:txt;
	display:flex;
	flex-wrap:wrap;
	width:auto;
	background-color: rgb(255, 255, 255);
	
	
}

.button_area {
	grid-area:btn;
	display:flex;
	flex-wrap:wrap;
	background-color: aqua;
	height:fit-content;

}



.htag{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: aqua;
	
}
.htag2{
	align-self: center;
	
}


/*----------------------*/

.body > .sections{
	border: none;
	border-radius: 10px;
	box-shadow: 0px 0px 12px 5px grey;
}

/* .body > .sections > .section{
	border: none;

	display:grid;
	grid-template-columns:35% 65%;
	grid-template-areas:
	'pc txt'
	'pc btn'
	;
} */

.body > .sections > .section > form{
	align-items: center;
	margin: auto auto;
	
}

.body > button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto 900px;
	height: 30px;
	width: 8%;
}