*{
	padding: 0;
	margin: 0;
}

header{
	display: flex;
	justify-content: center;
	margin: 50px auto;
	border: 1px solid black;
	width: 60%;
}

header > img{
	object-fit: cover;
}


#body {
	display: flex;
	justify-content: center;
	background-color: rgb(254, 254, 254);
	border: 1px solid red;
	width: 600px;
}




.sections {
	/*grid-area:scm; */
	display:grid;
	grid-template-columns: auto auto;
	align-items:center ;
	object-position:row;
	border:10px solid black;


}


.section {
	border:10px solid brown;
	display:grid;
	grid-template-columns:35%;
	grid-template-rows:auto 1fr;
	grid-template-areas:
	'pc txt'
	'pc btn'
	;


}







.button_box {
	grid-area:btn;
	background-color:blueviolet;
	height:fit-content;
}



.picture_box {
	grid-area:pc;
	/*display:inline-flex;*/
	
	background-color:aqua;


}

.picture_box > img{
	object-fit:cover;
}

.text_area {
	grid-area:txt;
	float:left;
	display:inline-flex;
	flex-wrap:wrap;
	background-color:aquamarine;



}






.body{
	border: 1px solid black;
}

.body > form{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 5px grey;
	width: 600px;
	height: 250px;
}

.body > button{
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto 900px;
	height: 30px;
	width: 8%;
}