<div class="body">
	<form action="/fruits/" method="post" enctype="multipart/form-data">
		<p>This should be box with the customers orders</p>
	</form>
	<div class="end-align">
	<button type=submit>Place Order</button>
	</div>
</div>
