












<body id="body">
	<header id="header">
		<h1>Fruits.index (/fruits)</h1>

		<p> header </p>


	</header>

	<ul>
	<%= for pizz <- pizza do %>
    	<li class="sections">
    		<a href="/fruits/<%= pizz.id %>">
				<%= html_escape(pizz.name) %> - <%= pizz.toppings %>
			</a>
		</li>
	<% end %>
	</ul>



</body>



<a href="/fruits/new">Add new fruit</a>
