

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tony's Pizza</title>
	<link rel="stylesheet" type="text/css" href="/admin.css">
</head>

<body>
	<div class="htag">
		<h1>Order</h1>
	</div>
	<main class="sections">
	<%= for order <- order do %>
		<div class="section">
			<section class="text_area">
				<h2><%= order.id %>  </h2>
				<ul>
					<%= for pizzas <- order.pizzas do %>
						<p> -- <%=pizzas %> </p>
					<% end %>
				</ul>
			</section>
		</div>
		<% end %>
	</main>

	<h2 class="htag2">custom orders</h2>


	<div class="custom">

	<%= for customorders <- customorders do %>
		<div class="section">
			<section class="text_area">
				<ul>
					<p> -- <%= customorders.ingredients %> </p>
				</ul>
			</section>
		</div>
	<% end %>

	</div>
</body>
</html>
