

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tony's Pizza</title>
	<link rel="stylesheet" type="text/css" href="/admin.css">
</head>

<body>
	<div class="htag">
		<h1>Order</h1>
	</div>
	<main class="sections">
	<%= for order <- order do %>
		<div class="section">
			<section class="text_area">
				<h2>Order #<%= order.id %>  </h2>
				<ul>
					<%= for pizzas <- order.pizzas do %>
						-- <%=pizzas %>
					<% end %>
				</ul>
			</section>
			<section class="button_area">
				<form>
					<input id="green" formaction="/home/" type="submit" value="Delete" name="<%=order.id %>">
			</form>
			</section>
		</div>
		<% end %>
	</main>

	<h2 class="htag2">custom orders</h2>

	<div class="custom">

	</div>
</body>
</html>
