<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tony's Pizza</title>
	<link rel="stylesheet" type="text/css" href="/edit.css">
</head>
<main>
    <body>
        <form id="checkboxform" action="/home" >

    <%= for ing <- ing   do %>
    <div>
        <label><%= html_escape(ing.name) %></label>

        <input type="checkbox" checked>
    </div>
    <% end %>
     <input type="submit" value="save">
     <input type="submit" value="buy">



    <%= for help <- pizza  do %>
    <div>
        <ul>
        <%=for test <- help.ingredients do %>
        <li><%= test %></li>
        <% end %>
        </ul>
    </div>
    <% end %>





        </form>
    </body>
</main>
