<form method="GET" id="checkboxform">

    <%= for alling <- ing do %>

         <% checked? = alling.name in pizza.ingredients %>

            <label><%= html_escape(alling.name) %></label>
            <input  type="checkbox" name="ingredients[]" value="<%= alling.name %>"
            <%= if checked?, do: "checked" %>
            >




  <% end %>



  <input type="submit" value="Lägg till" formaction="/home/<%=pizza.id%>">


</form>
