

<main class="sections">
	<%= for pizz <- pizza do %>
    <div class="section">
		<section class="picture_box">
			<img src="../Grafiskt material/<%=pizz.img %>">
		</section>
		<section class="text_area">
			<h2><%= html_escape(pizz.name) %>   </h2>
			<ul>
				<%= for toppings <- pizz.ingredients do %>
					<p> -- <%=toppings %> </p>
				<% end %>
			</ul>
			<h2><%=inspect(count.count)%></h2>
		</section>
		<section class="button_box">
			<form>
				<input id="wheat" type="submit" formaction="home/edit/<%=pizz.id%>" value="Anpassa">

			</form>
			<form>
				<input id="green" formaction="/home/<%=pizz.id %>" type="submit" value="Köp" name="<%= pizz.id %>">
			</form>
		<section>
	</div>
	<% end %>
	</main>







<a href="/home/basket">Temporary basket button</a>
