












<body id="body">
	<header id="header">
		<h1>Fruits.index (/home)</h1>

		<p> header </p>


	</header>

	<ul class="sections">
	<%= for pizz <- pizza do %>
    	<li class="section">

			<section class="picture_box">
				<img src="../Grafiskt material/<%=pizz.picture_id %>">
			</section>
			<section class="text_area">
				<a href="/fruits/<%= pizz.id %>" >

					<p><%= html_escape(pizz.name) %> </p>
				</a>
			</section>

		</li>
	<% end %>
	</ul>



</body>



<a href="/fruits/new">Add new fruit</a>
