















	<main class="sections">
	<%= for pizz <- pizza do %>
    	<div class="section">

			<section class="picture_box">
				<img src="../Grafiskt material/<%=pizz.img %>">
			</section>
			<section class="text_area">
				<p><%= html_escape(pizz.name) %> </p>
			</section>
			<p><%=pizz.ingredients %></p>
		</div>
	<% end %>
	</main>







<a href="/fruits/new">Add new fruit</a>
