<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tony's Pizza</title>
	<link rel="stylesheet" href="/pluggy.css">



</head>

<body>
	<header>
	<div class="filler"></div>

		<a class="logo" href="/home"><img src="../../Grafiskt material/tonys-pizza-logo.svg"></a>


		 <a class="basket" href="/basket"><img src="../../Grafiskt material/tonys-pizza-basket.svg" alt="basket"></a>

	</header>
	<%= template %>
</body>
</html>
