<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Tony's Pizza</title>
	<link rel="stylesheet" type="text/css" href="/pluggy.css">


</head>

<body>
	<header>
		<img src="../Grafiskt material/tonys-pizza-logo.svg">

	</header>
	<%= template %>
</body>
</html>
